@font-face{
    font-family: Primeira;
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: segunda;
    src: url('../fonts/Poppins-Italic.ttf');
}
@font-face {
    font-family: extraBold;
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
}
main{
    font-family: Primeira;
}

.inps{
    font-family: segunda;
}
#infs{
    font-family: extraBold;
}